# Зависимости
node_modules/
package-lock.json

# Сборка
dist/
build/
.tmp/
.sass-cache/

# Настройки IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Логи
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файлы окружения
.env
.env.local
.env.development
.env.test
.env.production

# Временные файлы
temp/
tmp/
*.swp

# Файлы ОС
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
